html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #660066;
}

a {
  color: white;
}

a:hover {
  color: yellow;
}

.spooped-title {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
}

.spooped-title h1 {
  text-shadow: 0px 0px 10px #cccc00;
}

.get-app {
  color: white;
  text-align: center;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#header {
    padding: 10px;
}

#content {
    padding: 10px;
    padding-bottom: 80px;
}

#footer {
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    text-align: center;
}

#footer .genericon {
    font-size: xx-large;
    text-decoration: none !important;
}